body > section:first-child {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 0;

  background-color: var(--tertiary);
}

a {
  margin-top: .8rem;
}

body > section > i {
  font-size: 4rem;
  color: var(--highlight)
}

body > section > h2 {
  margin-top: 1rem;
  color: var(--light);
}

body > section ~ section {
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 0;

  background-color: var(--primary);
}



@media screen and (min-width: 1000px) {
  
  body {
    flex-direction: row-reverse;
  }

  body  > section:first-child {
    flex: 3;
  }

  body > section ~ section {
    flex: 2;
    justify-content: center;
  }

  body > section > form{
    align-items: center;
    justify-content: center;
  }

}
