body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--dark);
}

body > section {
  flex-direction: column;
}

body > section:first-child {
  flex: 2;
  align-items: center;
  justify-content: center;
}

h1, h2, h5, h3 {
  color: var(--light);
}

body > section ~ section {
  flex: 4;
  margin-top: .6rem;
}

body > section > h1 {
  color: var(--light);
}

body > section > i {
  color: var(--alert);
  font-size: 2rem;
  margin: 0 .6rem 0 0;
}

code {
  padding: 0 .4rem;
  margin-bottom: .6rem;
  background: var(--secondary);
}
