header h1 ~ div a {
  padding: .4rem;
}

header h1 {
  font-size: 3rem;
  margin: .8rem 0 .4rem;
}

header ~ * {
  margin-top: .6rem;
}

span ~ a,
a ~ a {
  margin-left: .4rem;
}

span {
  background: var(--secondary);
  padding: .2rem .4rem;
}

section > section {
  height: 100%;
}

section > section > div {
  flex: 4;
  margin-top: .6rem;
}

section > div ~ div  {
  flex: 2;
  padding: 0 1.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  color: var(--light);
  margin: 0 .8rem;
  text-align: center;
}

section > div ~ div > p {
  margin-top: .8rem;
  color: var(--light);
  flex-wrap: wrap;
}

section > div ~ div > i {
  font-size: 8rem;
}

nav {
  position: fixed;
  width: 100vw;
}

nav ~ * {
  margin-top: 3rem;
}
