body {
  flex: 1;
  width: 100vw;
  height: 100vh;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

body > section:first-child {
  flex: 3;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary);
}

body > section ~ section {
  flex: 2;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

body > section > form{
  align-items: center;
  justify-content: center;
}

body > section > i {
  font-size: 4rem;
  color: var(--highlight)
}

body > section > h2 {
  color: var(--light);
}

@media screen and (max-width: 799px) {
  
  body {
    flex-direction: column;
  }
  
  body  > section:first-child {
    height: 30vh;
    padding: 2rem 0;
  }
  
  body > section > i {
    display: none;
    color: transparent;
  }
  
  body > section ~ section {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
  }

}