.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-base {
  justify-content: baseline;
}

.self-align-base {
  align-self: baseline;
}

.self-justify-base {
  justify-self: baseline;
}

.align-base {
  align-items: baseline;
}

.stretch {
  flex-grow: stretch;
}

.max-width {
  width: 100%;
}

.container {
  width: 90%;
  height: 100%;
  flex-direction: column;
  place-self: center;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.row ~ .row {
  margin-top: .8rem;
}

.row > p ~ p {
  margin-left: .6rem;
}

.col {
  flex-direction: column;
}

.col ~ .col {
  margin-left: .8rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.huge {
  font-size: 8rem;
}

.medium {
  font-size: 4rem;
}

.bg-primary{
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-tertiary {
  background: var(--tertiary);
}

.bg-success {
  background: var(--highlight);
}

.bg-dark {
  background: var(--dark);
}

.bg-light {
  background: var(--light);
}

.logo {
  align-items: baseline;
  color: var(--light);
}

.logo i {
  color: var(--logo-color);
}

.breadcrumb {
  flex-direction: row;
  background: var(--secondary);
  border-radius: 1rem;
}

.breadcrumb > ul {
  align-items: baseline;
}

.error {
  color: var(--alert);
}

.p-1 {
  padding: .2rem;
}

.p-2 {
  padding: .4rem;
}

.p-3 {
  padding: .6rem;
}

.p-4 {
  padding: .8rem;
}

.p-5 {
  padding: 1rem;
}

.pv-1 {
  padding: .2rem 0;
}

.pv-2 {
  padding: .4rem 0;
}

.pv-3 {
  padding: .6rem 0;
}

.pv-4 {
  padding: .8rem 0;
}

.pv-5 {
  padding: 1rem 0;
}

.ph-1 {
  padding: 0 .2rem;
}

.ph-2 {
  padding: 0 .4rem;
}

.ph-3 {
  padding: 0 .6rem;
}

.ph-4 {
  padding: 0 .8rem;
}

.ph-5 {
  padding: 0 1rem;
}

.m-1 {
  margin: .2rem;
}

.m-2 {
  margin: .4rem;
}

.m-3 {
  margin: .6rem;
}

.m-4 {
  margin: .8rem;
}

.m-5 {
  margin: 1rem;
}

.mt-1 {
  margin-top: .2rem;
}

.mt-2 {
  margin-top: .4rem;
}

.mt-3 {
  margin-top: .6rem;
}

.mt-4 {
  margin-top: .8rem;
}

.mt-5 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: .2rem;
}

.mb-2 {
  margin-bottom: .4rem;
}

.mb-3 {
  margin-bottom: .6rem;
}

.mb-4 {
  margin-bottom: .8rem;
}

.mb-5 {
  margin-bottom: 1rem;
}

.mv-1 {
  margin: .2rem 0;
}

.mv-2 {
  margin: .4rem 0;
}

.mv-3 {
  margin: .6rem 0;
}

.mv-4 {
  margin: .8rem 0;
}

.mv-5 {
  margin: 1rem 0;
}

.mh-1 {
  margin: 0 .2rem;
}

.mh-2 {
  margin: 0 .4rem;
}

.mh-3 {
  margin: 0 .6rem;
}

.mh-4 {
  margin: 0 .8rem;
}

.mh-5 {
  margin: 0 1rem;
}

.m-0 {
  margin: 0;
}

.text-success {
  color: var(--highlight);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-alert {
  color: var(--alert);
}

button.text-alert {
  color: var(--dark);
}

a.text-alert {
  color: var(--light);
}

button.text-alert:focus,
button.text-alert:hover,
a.text-alert:focus,
a.text-alert:hover {
  color: var(--alert);
}

.text-logo {
  color: var(--logo-color);
}

.card {
  background-color: var(--light);
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 0;
  max-width: 60vw;
  min-width: 50vw;
  border-radius: 10rem 0 0 10rem;
}

.image {
  border-radius: 10rem 0 0 10rem;  
  background-size: cover;
  background-position: 25% 50%;
  background-repeat: no-repeat;
  min-height: 8rem;
  min-width: 8rem;
}
