a {
  padding: 0 .4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
}

a > i {
  margin: 0 .2rem;
}

a:hover,
button:hover {
  cursor: pointer;
}

a:focus,
a:hover {
  color: var(--highlight);
}
