<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>MOCS</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ListaUsuarioController</servlet-name>
        <url-pattern>/ListaUsuarioController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>com.debron.mocs.exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterUsuarioController</servlet-name>
        <servlet-class>com.debron.mocs.controller.ManterUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarUsuarioController</servlet-name>
        <servlet-class>com.debron.mocs.controller.PesquisarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEstabelecimentoController</servlet-name>
        <servlet-class>com.debron.mocs.controller.ManterEstabelecimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionController</servlet-name>
        <servlet-class>com.debron.mocs.controller.SessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarioController</servlet-name>
        <servlet-class>com.debron.mocs.controller.ListaUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterUsuarioController</servlet-name>
        <url-pattern>/ManterUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarUsuarioController</servlet-name>
        <url-pattern>/PesquisarUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEstabelecimentoController</servlet-name>
        <url-pattern>/ManterEstabelecimentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionController</servlet-name>
        <url-pattern>/SessionController</url-pattern>
    </servlet-mapping>
    <error-page>
      <error-code>404</error-code>
      <location>/Error</location>
    </error-page>
    <error-page>
      <error-code>500</error-code>
      <location>/Error</location>
    </error-page>
    <error-page>
      <error-code>400</error-code>
      <location>/Error</location>
    </error-page>
    <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/Error</location>
    </error-page>
    <error-page>
      <exception-type>javax.servlet.ServletException</exception-type>
      <location>/Error</location>
    </error-page>
</web-app>
